streamlit>=1.30.0
langchain==0.1.20
langchain-openai==0.1.7
openai>=1.10.0
langchain-community==0.0.38
langgraph>=0.0.20
beautifulsoup4>=4.12.0
requests>=2.31.0
tzdata>=2023.3
chromadb==0.4.24
graphviz>=0.20.1
langchain-chroma==0.1.1
audio-recorder-streamlit
opentelemetry-api==1.21.0
opentelemetry-sdk==1.21.0
opentelemetry-exporter-otlp-proto-grpc==1.21.0
protobuf==4.25.3